[submodule "themes/pure"]
	path = themes/pure
	url = https://github.com/cofess/hexo-theme-pure.git
[submodule "themes/maupassant"]
	path = themes/maupassant
	url = https://github.com/tufu9441/maupassant-hexo.git
[submodule "themes/aircloud"]
	path = themes/aircloud
	url = https://github.com/aircloud/hexo-theme-aircloud
