---
layout: base
---

<div class="post-container">
  <div class="post-title">Archives</div>
  <div class="post-content no-indent archives-container">
    {% assign prev_year = "" %}
    {% for post in site.posts %}
      {% assign year = post.date | date: "%Y" %}
      {% if year != prev_year %}
        {% if prev_year != "" %}</ul>{% endif %}
        <div class="listing-seperator">{{ year }}</div>
        <ul>
        {% assign prev_year = year %}
      {% endif %}
      <li>
        <span>{{ post.date | date: "%m-%d" }}</span>
        <a href="{{ post.url | relative_url }}"><span>{{ post.title | escape }}</span></a>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>
